body {
  font-family:Verdana,Helvetica;
  font-size:11px;
}

h1 {
  font-size:20px;
}

h2 {
  font-size:18px;
}

h3 {
  font-size:16px;
}

div {
  margin: 10px;
  padding: 10px;
  background-color: #90c3e9;
}

li {
  margin: 12px 12px 12px 12px;
  padding: 12px 0px 12px 12px;
  list-style: none  
}

#header {
  border-style: dashed;
}

.section {
  border-style: dashed;

}
.element {

}

.score {
  text-align: right;
  font-weight: bold;
  font-size:16px;
  border-right: 1px solid;
  border-bottom: 1px solid;
}
