
body {
  font-family:Verdana,Helvetica;
  font-size:11px;
}

body.content {
  margin-left:3px;
  margin-right:10px;
}

h1.banner {
  color:#656565;
  font-family:Arial;
  font-size:28px;
  font-weight:normal;
}

h1 {
  font-size:20px;
}

h2 {
  font-size:16px;
}

h3 {
  font-size:14px;
}

h4 {
  font-size:12px;
  font-weight:bold;
}


li.pdf {
  list-style-type:none;
  background-image: url("pdf.png");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  padding: 25px 40px 25px 80px;
  margin: 0px 20px;
}

li.dvi {
  list-style-type:none;
  background-image: url("dvi.png");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  padding: 25px 40px 25px 80px;
  margin: 0px 20px;
}

li.odt {
  list-style-type:none;
  background-image: url("odt.png");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  padding: 25px 40px 25px 80px;
  margin: 0px 20px;
}

li.ods {
  list-style-type:none;
  background-image: url("ods.png");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  padding: 25px 40px 25px 80px;
  margin: 0px 20px;
}

li.ps {
  list-style-type:none;
  background-image: url("ps.png");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  padding: 25px 40px 25px 80px;
  margin: 0px 20px;
}

li.tgz {
  list-style-type:none;
  background-image: url("tgz.png");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  padding: 25px 40px 25px 80px;
  margin: 0px 20px;
}

li.tex {
  list-style-type:none;
  background-image: url("tex.png");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  padding: 25px 40px 25px 80px;
  margin: 0px 20px;
}

li.tar {
  list-style-type:none;
  background-image: url("tar.png");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  padding: 25px 40px 25px 80px;
  margin: 0px 20px;
}

li strong {
  color: red;
}

body {
  padding: 0px;
  border: 0px;
  margin-top: 0px;
  margin-left: 0px;
}

#menu {
  padding-top: 140px;
  width: 202px;
  background-color: #90c3e9;
  background-image: url("menu-logo.gif");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  margin-right: 20px;
  float: left;
  border-width: 6px;
  border-color: white;
  -moz-border-radius: 1em 2em;
  border-radius: 1em 2em;
}


#menu a {
  color: black;
  font-size:16px;
  font-weight: bold;
  text-decoration: none;
}
#menu a:visited {
  color: black;
  font-size:16px;
  font-weight: bold;
  text-decoration: none;
}
#menu a:hover {
  color: #90c3e9;
  font-size:16px;
  font-weight: bold;
  text-decoration: none;
}


#menu li {
  -moz-border-radius: 1em 2em;
  border-radius: 1em 2em;
  width: 170px;
  border: 20px;
  margin-top: 5px;
  list-style-type:none;
  background-color: white;
  list-style-position:inside;
  padding-left:1em;
}



#corp {
  margin-left: 150px;
  padding: 20px;
  padding-left: 100px;
}

#corp a {
  font-weight: bold;
  text-decoration: none;
}

#corp a:hover {
  text-decoration: none;
}

#corp a:visited {
  color: #cc0000  !important;
  text-decoration: none;
}

#valide {
text-align: center;
  font-size:10px;
}

#thanks {
text-align: center;
}

#thanks a {
  color: black;
  font-size:11px;
  font-weight: bold;
  text-decoration: none;
}
#thanks a:visited {
  color: black;
  font-size:11px;
  font-weight: bold;
  text-decoration: none;
}
#thanks a:hover {
  color: black;
  font-size:11px;
  font-weight: bold;
  text-decoration: none;
}

div.freeform-form {
  list-style-type:none;
  background-image: url("folder.png");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  padding: 25px 40px 25px 80px;
  margin: 0px 20px;
}
