tab.header {
  list-style-image: url("chrome://qsos-xuled/skin/header.png");
  -moz-border-radius: 6px 6px 0px 0px;
}

tab.criteria {
  list-style-image: url("chrome://qsos-xuled/skin/criteria.png");
  -moz-border-radius: 6px 6px 0px 0px;
}

tab.graph {
  list-style-image: url("chrome://qsos-xuled/skin/graph.png");
  -moz-border-radius: 6px 6px 0px 0px;
}

tab[selected="true"] {
  color: #000066;
  font-weight: bold;
  -moz-border-radius: 6px 6px 0px 0px;
}

treechildren::-moz-tree-row(selected) {
  background-color: #FFFFAA;
}

treechildren::-moz-tree-cell-text(selected) {
  color: #000000; 
}






